@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.card {
  
  padding: 2em;
  
  
  background-color: rgb(33, 33, 33);
  position: relative;
  border-radius: 10px;
 
}
@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.card::after,.card::before {
  content: '';
  position: absolute;
  height: 101%;
  width: 101%;
  background-image: conic-gradient(from var(--angle),red,rgb(29, 250, 0),blue);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: -1; 
  padding: 13px; 
  border-radius: 10px; 
  animation: 2.5s spin linear infinite;
}

.card::before{
  filter: blur(0.5rem);
  opacity: 0.8;
}

@keyframes spin {
  from {
    --angle:0deg;
  }
  to {
    --angle:360deg;
  }
}